SQLALCHEMY_POSTGRES_DATABASE_URL = "postgresql://USERNAME:PASSWORD@ADDRESS:PORT_NUMBER/DB_NAME"
SQLALCHEMY_SQLITE_DATABASE_URL = "SQLITE://./sqlite.db"
SQLALCHEMY_SQLITE_MEMORY_DATABASE_URL = "SQLITE:///:memory:"